@import "vars";

@include fullhd {

  // > 1472
  .breadcrumb {
    ul {
      .is-active {
        a {
          width: 700px;
        }
      }
    }
  }

}

@media screen and (min-width: 1088px) and (max-width: 1471px) {
  footer .navbar-item {
    padding: .5rem;
  }
}

@include widescreen-only {

  // 1280 > 1471
  .breadcrumb {
    ul {
      .is-active {
        a {
          width: 570px;
        }
      }
    }
  }
}

@include widescreen {

  // > 1280
  .breadcrumb {
    ul {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-y: hidden;

      .is-active {
        a {
          white-space: nowrap;
          overflow-y: hidden;
          text-overflow: ellipsis;
          display: inline-block;

          &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
          }
        }
      }
    }
  }

  .coding,
  .technology-post-wrap {
    height: 550px;
  }
}

@include desktop-only {

  // 1088 - 1279
  .field.has-addons .control:not(:last-child) {
    width: 230px;
  }
}

//desktop-only 1088 - 1279

@include touch {

  // < 1087px
  // ---- common ----
  .container>.columns {
    margin: x 0 0 0;
  }

  h2.title,
  h3.title.elips,
  h4.title.elips {
    padding: 1rem x;
  }

  h3.title.elips,
  h4.title.elips {
    font-size: 1.25rem / 1.3;
    font-family: roboto-y;

    a {
      height: 3.25rem;
    }
  }

  // ---- header ----
  .top-line {
    .main-navigation {
      display: none;
      padding: 1rem;
    }
  }

  .top-line {
    justify-content: space-between;

    .navbar-end {
      display: flex;
      height: 52px;
    }
  }

  // ---- posts ----
  .post-meta .icon {
    font-size: 1.25rem;
  }

  // ---- coding + technology ----
  .coding,
  .technology-post-wrap {
    height: 450px;
  }

  // ---- design + graphic ----
  .design-graphic {
    article.tog-class {
      flex: 0 1 260px;
    }
  }

  // ---- cms ----


  // ---- footer ----
  footer {
    text-align: center;

    .main-navigation {
      justify-content: center;
    }

    .footer-menu {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }

    form {
      margin-top: $column-gap;

      label {
        margin-bottom: $column-gap;
      }
    }

    .social {
      margin-top: $column-gap;
      justify-content: center;

      .navbar-item {
        &:focus {
          outline: none;
        }
      }
    }
  }

  .field.has-addons {
    justify-content: center;
  }
}

//touch < 1087px

@media screen and (min-width: 769px) and (max-width: 960px) {

  .coding .right-ones,
  .technology .right-ones,
  .design-graphic {
    .post-meta {
      display: block;
      position: relative;
    }
  }

  .design-graphic {
    .view-all {
      display: none;
    }
  }

  .coding,
  .technology-post-wrap {
    height: 400px;
  }
}

@include tablet-only {

  // 769 - 1087
  .featured {
    .post-caption {
      padding: 0 10px 10px;
    }
  }

  .title {
    padding: 0.75rem x;
  }

  .featured-category {
    font-size: 0.75rem;
  }

  .featured-date {
    font-size: 0.875rem;
  }

  .post-comments .comment-label {
    display: none;
  }

  .cms h3.title.elips {
    padding: 0;
  }

  footer .social .navbar-item {
    padding-top: 12px;
  }
}

// tablet-only 769 - 1087

@include mobile {

  // < 768
  section {
    padding: 2px 0;

    &.s-more {
      padding: 1rem _;
    }
  }

  footer {

    .footer-top,
    .footer-bottom {
      padding: 1rem;
    }
  }

  // ---- mobile-menu ----
  .mobile-menu.main-navigation {
    flex-direction: column;
    align-items: center;
  }

  h3.title.elips,
  h4.title.elips {
    a {
      height: inherit;
    }
  }

  // ---- posts ----
  .overlay-post {
    margin-bottom: .5rem;
  }

  .image-link {
    max-height: 130px;

    img {
      height: 130px;
    }
  }

  .vert-post-s {
    .image-link {
      flex: 1;
    }
  }

  .horiz-post {
    flex-direction: column;

    .image-link {
      height: 260px;
      flex: 1;
    }

    .post-caption {
      padding-left: 0;
    }

    .post-excerpt {
      margin-top: 0;
    }

  }

  // ---- coding + technology ----
  .coding,
  .technology-post-wrap {
    height: inherit;

    .image-link {
      max-height: 180px;

      img {
        display: block;
        height: 180px;
      }
    }
  }

  .technology .s-title-wrap {
    padding: x .75rem;
  }

  // ---- footer ----
  footer {
    .main-navigation {
      flex-wrap: wrap;
    }

    .social {
      .navbar-item {
        size: 40px;

        .icon {
          font-size: 1rem;
        }
      }

      .zen {
        padding-left: 0.6rem;

        .zen_svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

// mobile < 768
