$default-font: montserrat, sans-serif;
$title-font: oswald, sans-serif;
$accent: hsl(6, 78%, 57%);
$blu-light: hsl(204, 70%, 53%);
$blu: hsl(204, 64%, 44%);
$blu-dark: hsl(210, 29%, 24%);
$white: hsl(192, 15%, 94%);

$amazon: #ff9900;
$android: #a4c639;
$apple: #a6b1b7;
$deviantart: #05cc47;
$discord: #7289da;
$dribbble: #ea4c89;
$facebook: #3b5998;
$google: #4285f4;
$instagram: #c32aa3;
$linkedin: #007bb5;
$medium: #02b875;
$microsoftblue: #03a5f0;
$microsoftgreen: #80bb03;
$microsoftred: #f35022;
$microsoftyellow: #ffb903;
$odnoklassniki: #EE7808;
$periscope: #40a4c4;
$pinterest: #bd081c;
$pocket: #ee4056;
$reddit: #ff4500;
$rss: #f26522;
$snapchat: #fffc00;
$spotify: #1ed760;
$steam: #171a21;
$telegram: #0088cc;
$tumblr: #35465d;
$twitch: #6441a4;
$twitter: #1da1f2;
$vine: #00b489;
$vk: #4a76a8;
$whatsappgreen: #25d366;
$youtube: #ff0000;
