# Jekyll
_site
.sass-cache
.jekyll-metadata
Gemfile.lock

# Gulp
package.json
package-lock.json
gulpfile.js
node_modules

# Adobe files
*.pdf
*.ai
*.psd
*.indd
*.indb

# Compressed files
*.zip
*.rar
*.gz
*.tar
*.7z

# Type faces
*.otf
*.ttf
*.woff
*.eot
*.ttc

# Video & audio
*.mov
*.mp4
*.m4v
*.f4v
*.f4p
*.ogv
*.webm
*.flv
*.mp3
*.m4a
*.f4a
*.f4b
*.oga
*.ogg
*.opus

# Ignore
.vscode
*.log
._*
.cache
.DS_Store
Thumbs.db
tmp
