<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<base href="{{ site.baseurl }}">
	<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width">
	<meta property="og:image" content="assets/img/{% if page.og %}{{ post.categories }}/{{ post.fold }}/{{ page.og }}{% else %}{{ site.imagehome }}{% endif %}">
	{% if layout.post %}
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	{% endif %}
	<link rel="icon" href="assets/img/favicon.png">
	<link rel="stylesheet" href="/assets/css/styles.min.css">

</head>

<body>
