<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<base href="{{ site.baseurl }}">

	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="description" content="{{ page.description }}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="img/{{ page.og }}">
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<link rel="icon" href="img/favicon.png">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="{{ site.themecolor }}">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="/css/styles.min.css">

</head>

<body>
