<article class="horiz-post">
	<a href="{{ post.url }}" class="image-link">
		<img class="img-responsive lazy"
		src="img/{{ post.lqip }}"
		data-src="img/{{ post.thumb }}"
		data-srcset="img/{{ post.thumb }} 1x, img/{{ post.image }} 2x"
		alt="{{ post.title }}">
	</a>
	<div class="post-caption">
		<h3 class="title capital elips"><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<p class="post-excerpt elips">{{ post.content | strip_html | truncatewords: 25 }}</p>
		<div class="post-meta">
			<span class="post-date">{{ post.date | date: "%d.%m.%Y" }}</span>
			<span class="icon"><i class="fas fa-comments"></i></span>
			<a href="{{ post.url }}#disqus_thread" class="post-comments" title="Количество комментариев"></a>
		</div>
	</div>
</article>
